* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

:root {
    --color-primary: #3c3c3c;
    --color-text: #3c3c3c;
    --color-text-light: #1f1f1f;
    --color-bg: #f1f1f1;
    --color-search-bg: #f1f1f1;
    --color-border: #000;
    --font-serif: 'Tahoma', 'Verdana', serif;
    --font-sans: -apple-system, BlinkMacSystemFont, 'Verdana', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    --max-width: 1200px;
    --spacing-xs: 0.4rem;
    --spacing-sm: 1.2rem;
    --spacing-md: 0.4rem;
    --spacing-lg: 2rem;
    --spacing-xl: 8rem;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
    line-height: 0.8;
    
}

.BRVideo {
    min-height: 100vh;
    padding: var(--spacing-lg) var(--spacing-md);
}

/*Menu de navegação*/

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #333;
}

.menu li {
  position: relative;
  float: right;
}

.menu a {
  display: block;
  padding: 10px 10px;
  color: #3c3c3c;
  text-decoration: none;
}

.menu a:hover {
  background-color: #ebebeb;
}

/*Titulo principal H1*/

.BRVideo__title {
    align-items: center;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--color-primary);
    line-height: 8.2;
}

/*Categorias*/

.BRVideo__container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.BRVideo__categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-xl) var(--spacing-lg);
}

.BRVideo__text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-xl) var(--spacing-lg);
}

.BRVideo-category {
    display: flex;
    flex-direction: column;
    img {
    width: 80%;
    height: 70%;
    border-radius: 8px; 
}
}

.BRVideo-category__title {
    font-family: var(--font-serif);
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: var(--spacing-md);
    line-height: 2.4;
}

.BRVideo-category__list {
    list-style: none;
    margin-bottom: var(--spacing-sm);
}

.BRVideo-category__item {
    margin-bottom: var(--spacing-sm);
}

.BRVideo-category__link {
    display: inline-block;
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.4s ease;
}



footer{
    display: center;
    padding: 0;
    margin: 0;

    .secoes-footer{
    font-size: medium;
    padding-top: 8;
    right: 0;
    left: 0;
    position: absolute;
    }

    .redes-sociais{
    margin-top: 8%;
    display: inline-block;
    align-items: center;
    padding: 50px;
    }

    .fale-conosco{
    justify-content: center;
    margin-top: 8%;
    display: inline-block;
    align-items: center;
    padding: 50px;
    }
    
    .icons-redes-sociais{
    width: 120px;
    height: 120px;
    padding: 140;
    margin: 100;
    display: flex;
}

  .icon-fale-conosco{
    width: 42px;
    height: 120px;
    padding: 100;
    margin: 100;
    display: flex;
}
}
